*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

body{
    background: linear-gradient(90deg, rgba(78,136,112,1) 0%, rgba(179,214,211,1) 48%, rgba(78,136,112,1) 100%);
    align-items: center;
    
}

#contenedor{
    background: url(iconos/Captura\ web_13-10-2023_112815_127.0.0.1.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 100px;
    padding: 80px;
    width: 1050px;
    height: 1000px;
    background-position: top;
    
    
}

#solicitar{
    width: 30px;
    height: 30px;
    margin-left: 10px;
   
}

/*#solicitar:hover{
    background-color: rgba(187, 216, 204, 0.51);
    transition: 1s;
    border-radius: 3px;
}*/

.solicitar{
    background:none;
    border: none;
    cursor: pointer;
}

.control{
    height: 30px;
    background: rgb(0, 145, 255);
    color: blue;
    border-color: blue;
    border-radius: 3px;
    margin-left: 10px;
}

#option{
    height: 34px;
    width: 90px;
    text-align: center;
    background: rgb(188, 255, 247);
    color: rgb(0, 0, 0);
    border-color: blue;
    border-radius: 3px;
    margin-left: 155px;
    margin-right: 10px;

}
#link{
    width: 25em;
    height: 30px;
    background: rgb(188, 255, 247);
    color: rgb(0, 0, 0);
    border-color: blue;
    border-radius: 3px;
}

#texto{
    padding: 10px;
    height: 200px;
    width: 438px;
    margin: 20px;
    margin-left: 155px;
    border-radius: 6px;
    resize: none;

}

  #icon {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    
    
}
#contentconsole{
    height: 40vh;
    width: 100vw;
    margin-top: 210px;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
}
#infobar{
    margin-top: 40px;
    display: flex;

}
.imgmove{
    display: flex;
    justify-content: center;
    margin-left: 130px;
    width: 1050px;
}
  